.box {
    width: 98%;
    height: 97%;
    position: absolute;
    border: 1px solid black;
}
.item {
    width: 36%;
    height: 32%;
    position: absolute;
    border: 1px solid black;
    top: 62%;
    left: 5%;
   
}
.item2 {
    width: 40%;
    height: 39%;
    position: absolute;
    border: 1px solid black;
    top: 18%;
    left: 45%;
 }
 .SmallBlock {
    width: 40%;
    height: 50%;
    position: absolute;
    border: 1px solid  black;
    top: 39%;
    left: 5%;
 }